body {
}

/* set default padding and margins */
div, p, body, html, form {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 5px;
}

#cartlogout {
    padding-right: 15px;
    float: right;
}

#cartlogout > p {
        display: inline-block
}

.page_heading{
    display:block;
    font-size: 300%;
}

.block_heading{
    font-size: 150%;
    color: darkred;
    margin-top:30px;
}

#delivery_address{
    padding: 20px 100px 10px 10px;
    width: 800px;
    border-style: none none solid none;
    border-width:2px;
    border-color:lightgray;

}

#paymentInfo{
    padding: 20px 20px 10px 10px;
    width: 800px;

}

.total{
    background-color: lightgray;
    float: right;
    margin-right: 200px;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:20px;
    padding-right:20px;
}

#est.total{
    font-size: 150%;
}

.submit {
    float: left;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top:50px;
}

#cart{
    float: left;
    background-color: darkorange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#log_out{
    float: left;
    background-color: darkred;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*
#back{
    float: left;

    background-color: darkblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
}
*/

.footer {
    width:100%;
   height: 5vh;
   background-color: #a9de25;
   position:fixed;
   left:0;
   bottom:0;
    text-align: center

/*  former gray footer
    background-color: darkgray;
    font-style: italic;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    */
}

.footer about_us {
        color: blue;
        text-align: left
    }

.footer contact {
        padding-left: 4.0em
    }


