body {
}

#logout{
    float:right;
    padding-right:5px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer

}


.message_box_orange {
    background-color: lightsalmon;      
    width: 1000px;
    border: 0px;
    padding: 5px;
    margin: 10px

}

.message_box_yellow {
    background-color: MOCCASIN;
    width: 1000px;
    border: 0px solid yellow;
    padding: 5px;
    margin: 10px
}

.footer {
    background-color: darkgray;
    font-style: italic;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
}

    .footer about_us {
        color: blue;
        text-align: left
    }

    .footer contact {
        padding-left: 4.0em
    }


