body {
}

/* set default padding and margins */
div, p, body, html {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 5px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    margin:auto;
}

td{
    padding: 0 30px 0 30px;
}


#cartlogout {
    padding-right: 15px;
    float: right;
}

#cartlogout > p {
   display: inline-block;
}

.restaurantName{
    color: darkred;
    font-size: 340%;
    font-family: fantasy;
}

#tenderGreens {
    color: yellowgreen;
    font-size: 340%;
    margin-bottom: 0px;
    padding-top:0px;
    padding-bottom:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuHeading {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 200%;
    font-family:sans-serif;

}

.selection{
    display:block;
}

.itemInfo{
    display:block;
    font-size: 100%;
    font-style: oblique;
}

.amount{
    text-align:left;
}

.button_orange {

    background-color: orange;
    width: 70%;

    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}

.food_image{
    width:300px;
    height:230px;
}

.button{
    height:50px;
}


.footer {
    background-color: darkgray;
    font-style: italic;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
}

    .footer about_us {
        color: blue;
        text-align: left
    }

    .footer contact {
        padding-left: 4.0em
    }


